.invisible {
    display: none;
}

html {
    background-color: #0079BF;
}

body{
    position: relative;
    top: -20px;
    width: 100%;
    height: 100%;
    background-color: #0079BF;
}

header{
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: #0079BF;
}

header h1 {
    color: white;
}

#input {
    margin-top: 20px;
    text-align: center;
}

.container {
    width: 90%;
    background-color: #0079BF;
    margin-top: 5px;
}

.row{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 8%;
}

#player1{
    height: 200px;
    border: 1px solid white;
    box-shadow: 5px 5px 5px #ccc;
    text-align: center;
    color: white;
}

#player1Choices {
    margin-top: 35px;   
}

#player1Choices:hover {
    cursor: pointer;
}

#action{
    height: 200px;
    border: 1px solid white;
    box-shadow: 5px 5px 5px #ccc;
    color: white;
}

#player2{
    height: 200px;
    border: 1px solid white;
    box-shadow: 5px 5px 5px #ccc;
    text-align: center;
    color: white;
}

#player2Choices {
    margin-top: 35px;   
}

#player2Choices:hover {
    cursor: pointer;
}

#chat{ 
}

#chatBox {
    width: 500px;
    height: 150px;
    margin: auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    overflow: auto;
    background-color: white;
    padding: 5px;
}

form{
    text-align: center;
}

.player1Comments {
    padding-top: 0px;
    margin-top: 0px;
}

.player2Comments {
    padding-top: 0px;
    margin-top: 0px;
}